.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  background-color: var(--background-color);
  border: .2em solid var(--text-color);
  width: 60%;
  padding: 2em;
  border-radius: 15px;
  text-align: center;
  color: var(--text-color);
  position: absolute;
  z-index: 1;
}

.title {
  justify-content: center;
  font-size: 2.4em;
  font-weight: bold;
}

.subtitle {
  font-size: 1.6em;
  font-weight: bold;
}

.form {
  align-self: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-size: .8em;
}

.forms {
  display: flex;
  justify-content: center;
}

.form-label {
  display: flex;
  flex-direction: column;
}

.label-text {
  margin-left: 2em;
  font-weight: bold;
  margin-bottom: .3em;
  align-self: flex-start;
}

.input,
.textarea {
  background-color: var(--background-color);
  padding: 1em;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.textarea {
  min-height: 7em;
}

.submit-button {
  width: 100px;
  background-color: var(--background-color);
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  align-self: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.submit-button:hover {
  background-color: var(--blue-color);
}