.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  background-color: transparent;
  border: .2em solid var(--text-color);
  width: 50%;
  padding: 2em;
  border-radius: 15px;
  text-align: center;
  color: var(--text-color);
  position: absolute;
  z-index: 1;
}

.title {
  margin: 0;
  justify-content: center;
  font-size: 2.4em;
  font-weight: bold;
}

.subtitle {
  font-size: 1.6em;
  font-weight: bold;
}

.form {
  align-self: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-size: .8em;
}

.forms {
  display: flex;
  justify-content: center;
}

.form-label {
  display: flex;
  flex-direction: column;

}

.label-text {
  position: absolute;
  margin-left: 1em;
  padding-left: .5em;
  padding-right: .5em;
  margin-top:-0.5em;
  background-color: var(--background-color);
  font-weight: bold;
  align-self: flex-start;
}

.input,
.textarea {
  color: var(--text-color);
  background-color: var(--background-color);
  border: .2em solid var(--text-color);
  padding: 1.5em;
  border-radius: 10px;
  font-weight: bold;
}

.input:hover,
.textarea:hover {
  background-color: var(--background-color-2);
}


.textarea {
  min-height: 7em;
}

.submit-button {
  width: 100px;
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  align-self: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.submit-button:hover {
  background-color: var(--blue-color);
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2em;
  }

  .subtitle {
    font-size: 1.4em;
  }

  .form-container {
    width: 70%;
  }

  .form {
    width: 100%;
    gap: 2em;
  }
}

@media screen and (max-height: 700px) {
  .title {
    font-size: 1.4em;
  }

  .subtitle {
    font-size: 1.1em;
  }

  .form {
    gap: 1.3em;
  }
}