:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  --background-color: #fbfafb;
  --background-color-2: #ffffff;
  --text-color: #313031;
  --text-color-2: #222122;
  --shadow-color: rgba(0, 0, 0, 0.322);

  --transition-duration: 0.3s;
  --blue-color: #007bff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[data-theme="dark"] {
  --background-color: #202020;
  --background-color-2: #242424;
  --text-color: #fbfafb;
  --text-color-2: #fbfafb70;
  --shadow-color: rgba(255, 255, 255, 0.151);
}

html {
  scroll-behavior: smooth;
  transition: all 0.3s;
}

body {
  transition: background-color var(--transition-duration),
    color var(--transition-duration);
  background-color: var(--background-color);
  color: var(--text-color);
  padding: auto;
  margin: 0;
}
