.nav-container {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  z-index: 100;
}

.nav-logo {
  margin-left: 10vw;
  font-weight: bolder;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  list-style: none;
  margin-right: 10vw;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

ul {
  justify-content: flex-end;
}

a:hover,
.list-item:hover {
  transition: 0.3s all;
  color: #007bff;
  cursor: pointer;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.switch-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  transition: all 0.5s;
}

.switch-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
