.nav-container {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: var(--background-color);
}

.nav-container::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav-logo {
  margin-left: 10vw;
  font-weight: bolder;
}

.menu-list {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  list-style: none;
  justify-content: flex-end;
  margin-right: 10vw;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

#check {
  display: none;
}

#buttonMode {
  color: white;
}

.nav-logo:hover,
.list-item:hover{
  color: var(--blue-color);
  cursor: pointer;
  transition: .3s all ease;

}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.switch-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  transition: all 0.5s;
}

.switch-button:hover {
  color: var(--blue-color);
  transform: scale(1.05);
  cursor: pointer;
}

.icon {
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 900px) {
  .icon {
    position: absolute;
    display: block;
  }

  #check:checked ~ .icon #menu-icon {
    display: none;
  }

  .icon #close-icon {
    display: none;
  }

  #check:checked ~ .icon #close-icon {
    display: block;
  }

  .menu-list {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0;
    width: 100vw;
    margin-top: -10em;
    padding: 0;
    background-color: var(--background-color);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom: 0.2em solid var(--text-color);
    transition: 0.3s ease;
  }

  #check:checked ~ .nav-menu .menu-list {
    padding-bottom: 1em;
    margin-top: 3em;
    height: 50vh;
    z-index: 50;
  }
}
